---
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
BreakBeforeBraces: Attach
ColumnLimit: 80
ContinuationIndentWidth: 2
IndentWidth: 2
Cpp11BracedListStyle: true
IndentCaseBlocks: true
IndentCaseLabels: true
IndentGotoLabels: true
LambdaBodyIndentation: Signature
MaxEmptyLinesToKeep: 0
PointerAlignment: Right
QualifierAlignment: Left
ReferenceAlignment: Right
RemoveBracesLLVM: true
RemoveParentheses: ReturnStatement
RemoveSemicolon: true
SortIncludes: CaseSensitive
SortJavaStaticImport: After
SortUsingDeclarations: LexicographicNumeric
SpaceAfterCStyleCast: false
Standard: Latest
